<!DOCTYPE html>
<html>
    <head>
        <title>Ashlesha Farms</title>
        <link rel="stylesheet" href="./ashlesha.css">
        <link rel="stylesheet" href="./aashlesha.js">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="scroll">
            <marquee direction="ltr" scrollamount="">
                <span>
                    FREE SHIPPING ON ORDERS ABOVE ₹499 &nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                <i class="fa fa-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                <span>
                    FREE SHIPPING ON ORDERS ABOVE ₹499 &nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                <i class="fa fa-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                <span>
                    FREE SHIPPING ON ORDERS ABOVE ₹499 &nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                <i class="fa fa-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                <span>
                    FREE SHIPPING ON ORDERS ABOVE ₹499 &nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </marquee>
        </div>
        <div class="header">
            <div class="header__menu">
                <a href="#side"><i class="fa fa-bars"></i></a>
                
            </div>
            <div class="header__logo">
                <img alt="Error" height="107" width="185" src="C:\Users\hemac\Downloads\DALL·E 2024-10-02 11.04.47 - A close-up image of a small green seedling sprouting from dark soil, with the text 'Ashlesha Farms' subtly integrated into the design. The text is ble.jpg">  </div>
            <div class="header__searchandcart">
                <i class="fa fa-search"></i>
                <i class="fa fa-shopping-cart"></i>
            </div>
            
        </div> 
    {% block start %}
    {% endblock %}
    
  
    <div class="footer">
      <div class="section1">
          <h1 style="font-family: sans-serif;">Sign up to our Newsletter</h1>
          <input type="email" placeholder="E-mail">
      </div>
      <div class="section2">
          <h2 style="font-family: sans-serif;">Customer Care</h2>
          <a href="#">FAQ</a>
          <a href="#">Shipping Policy</a>
          <a href="#">Refund Policy</a>    
          <a href="#">Cancellation Policy</a>    
          <a href="#">Privacy Policy</a>    
          <a href="#">Terms of Service</a>    
          <a href="#">Contact Information</a>    
          <a href="#">Wild forest honey certificate</a>    
          <a href="#">Dark forest honey certificate</a>    
      </div>
      <div class="section3">
          <h2 style="font-family: sans-serif;">Contact Info</h2>
          <p class="sp">Trade Name : ashlessha Farms</p>
          <p class="sp">Email Suppourt : ashlesshafarms@gmail.com</p>
          <p class="sp">Customer care Number:</p>
          <p class="sp">+91 7995514889</p>
          <p class="sp">+91 89770 21197</p>
          <p class="sp">Customer Support Timings : </p>
          <p class="sp">10:30am to 6:30pm</p>
          <p class="sp">Address :  Hyderabad</p>
          <p class="sp">Pin - 501401</p>
          
      </div>
  </div>
  <div class="lastfooter">
      <i class="fa fa-instagram insta" ></i>
      <p class="bunny">© 2024, Ashlessha Farms.</p>
  </div>
</body>
</html>